<div class="container">
	<h2>注文詳細画面</h1>
	<div class="row">
		<div class="col-md-2">
			<p>購入者</p>
		</div>
		<div class="col-md-10">
			<%= link_to @customer.first_name + @customer.last_name, admin_customer_path(@customer.id) %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<p>配送先</p>
		</div>
		<div class="col-md-10">
			<%= @order.address %><%= @order.recipient %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<p>支払方法</p>
		</div>
		<div class="col-md-10">
			<%= @order.payment %></p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<p>注文ステータス</p>
		</div>
		<%= form_with model: @order, url: admin_order_path, local: true do |f| %>
			<div class="col-md-2">
				<%= f.select :status, [["入金待ち", 0], ["入金確認", 1], ["製作中", 2], ["発送準備中", 3], ["発送済み", 4]], { selected: @order.status_before_type_cast}, { class: "form-control" } %>
			</div>
			<div class="col-md-2">
				<%= f.submit "更新", class: "btn btn-primary btn-sm" %>
			</div>
		<% end %>
	</div>

	<div class="row" id="table">
		<div class="col-md-8">
			<table class="table">
				<tr class="active">
					<th>商品名</th>
					<th>単価(税込)</th>
					<th>数量</th>
					<th>小計</th>
					<th>製作ステータス</th>
				</tr>

				<% sum = 0 %>
				<% @ordered_items.each do |item| %>
					<tr>
						<td><%= item.product.name %></td>
						<!-- 税込計算は後日 -->
						<td><%= (item.price * (1 + $tax_rate)).round %></td>
						<td><%= item.amount %></td>
						<td><%= (item.price * (1 + $tax_rate)).round * item.amount %></td>
						<% sum += (item.price * (1 + $tax_rate)).round * item.amount %>
						<td>
							<%= form_with model: item, url: admin_order_path, local: true do |f| %>
								<div class="col-md-6">
									<%= f.select :status, [["着手不可", 0], ["製作待ち", 1], ["製作中", 2], ["製作完了", 3]], { selected: item.status_before_type_cast }, { class: "form-control select" } %>
								</div>

								<%= f.hidden_field :item_id, value: item.id %>

								<div class="col-md-2">
									<%= f.submit "更新", class: "btn btn-primary btn-sm" %>
								</div>
							<% end %>
						</td>
					</tr>
				<% end %>
			</table>
		</div>

		<div class="col-md-3 col-md-offset-1" id="price">
			<div class="row">
			<div class="col-md-6">
				<p>商品合計</p>
			</div>
			<div class="col-md-6">
				<%= sum %>円
			</div>
			</div>

			<div class="row">
			<div class="col-md-6">
				<p>送料</p>
			</div>
			<div class="col-md-6">
				<%= @order.delivery_fee %>円
			</div>
			</div>

			<div class="row">
			<div class="col-md-6">
				<p>請求金額合計</p>
			</div>
			<div class="col-md-6">
				<span><%= sum + @order.delivery_fee %>円</span>
			</div>
			</div>
		</div>
	</div>
</div>

<style>
#table {
	margin-top: 50px;
}
.select {
	text-align: center;
}
#price { margin-bottom: 0; }
p {
	font-family: arial black;
	font-size: 15px
}
span {
	font-family: arial black;
}