<h2>注文情報確認</h2>
<table>
    <thead>
        <tr>
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <%# current_customerに紐付くcart_itemを全て表示する %>
        <% @cart_items.each do |cart_item| %>
            <tr>
                <td>
                    </textarea><%= attachment_image_tag(cart_item.product, :product_image, :fill, 30, 30) %>
                    <%= cart_item.product.name %>
                </td>
                <td>
                    <%= (cart_item.product.price * (1 + $tax_rate)).round %>
                </td>
                <td>
                    <%= cart_item.amount %>
                </td>
                <td>
                    <%= (cart_item.product.price * (1 + $tax_rate)).round * cart_item.amount %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table> 
<table>
    <tr>
        <th>送料</th>
        <td><%= @delivery_fee %></td>
    </tr>
    <tr>
        <th>商品合計</th>
        <td><%= @billing_amount %></td>
    </tr>
    <tr>
        <th>請求金額</th>
        <td><%= @delivery_fee + @billing_amount %></td>
    </tr>
</table>

<h2>支払い方法</h2>
    <% if(@payment == 0) %>
        <%= "クレジットカード" %>
    <% else %>
        <%= "銀行振込" %>
    <% end %>
<h2>お届け先</h2><%= "〒" + @postcode + @address + @recipient %>

<%# hidden_fieldを用いて、createアクションにパラメータを送信する %>
<%= form_with(model: @order, url: orders_path, local: true) do |f| %>
    <%= f.hidden_field :recipient, value: @recipient %>
    <%= f.hidden_field :address, value: @address %>
    <%= f.hidden_field :postcode, value: @postcode %>
    <%= f.hidden_field :delivery_fee, value: @delivery_fee %>
    <%= f.hidden_field :billing_amount, value: @billing_amount %>
    <%= f.hidden_field :payment, value: @payment %>
    <%= f.submit("購入を確定する", class: "btn btn-default") %>
<% end %> 

<%= link_to('戻る',cart_items_path, class: "btn btn-danger") %>