<div class="container">
  <div class="row">
<h2>注文情報確認</h2>
<div class="col-sm-9">
<table class="detail">
    <thead>
        <tr>
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <%# current_customerに紐付くcart_itemを全て表示する %>
        <% @cart_items.each do |cart_item| %>
            <tr>
                <td>
                    <%= attachment_image_tag(cart_item.product, :product_image, :fill, 30, 30) %>
                    <%= cart_item.product.name %>
                </td>
                <td>
                    <%= (cart_item.product.price * (1 + $tax_rate)).round %>
                </td>
                <td>
                    <%= cart_item.amount %>
                </td>
                <td>
                    <%= (cart_item.product.price * (1 + $tax_rate)).round * cart_item.amount %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>
<div class="col-xs-3">
<table class="price">
    <tr>
        <th>送料</th>
        <td><%= @delivery_fee %></td>
    </tr>
    <tr>
        <th>商品合計</th>
        <td><%= @billing_amount %></td>
    </tr>
    <tr>
        <th>請求金額</th>
        <td><%= @delivery_fee + @billing_amount %></td>
    </tr>
</table>
</div>
</div>
<div class="row">
<ul class="confirm">
<li><h3><strong>支払い方法</strong></h3></li>
    <% if(@payment == 0) %>
        <li><h3><%= "クレジットカード" %></h3></li>
    <% else %>
       <li><h3> <%= "銀行振込" %></h3></li>
    <% end %>
</ul>
<ul class="confirm">
<li><h3><strong>お届け先</strong></h3></li>
    <li><h3><%= "〒" + @postcode %></h3></li>
    <li><h3><%= @address %></h3></li>
    <li><h3><%= @recipient %></h3></li>
</ul>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="enter">
<%# hidden_fieldを用いて、createアクションにパラメータを送信する %>
<%= form_with(model: @order, url: orders_path, local: true) do |f| %>
    <%= f.hidden_field :recipient, value: @recipient %>
    <%= f.hidden_field :address, value: @address %>
    <%= f.hidden_field :postcode, value: @postcode %>
    <%= f.hidden_field :delivery_fee, value: @delivery_fee %>
    <%= f.hidden_field :billing_amount, value: @billing_amount %>
    <%= f.hidden_field :payment, value: @payment %>
    <%= f.submit("購入を確定する", class: "btn btn-primary 30px") %>
<% end %> 
</div>
</div>
<div class="col-xs-6">
    <div class="back">
<%= link_to('戻る',cart_items_path, class: "btn btn-danger 30px") %>
</div>
</div>
</div>
</div>



<style>
.detail {
width: 80%;
}

.detail th {
border: 1px solid #ccc;
padding: 10px;
font-size: 18px;
background-color: #dedede;
width: 100px;
}

.detail td {
border: 1px solid #ccc;
padding: 10px;
font-size: 18px;
width: 250px;
}
.price{
    width: 100%;
}
.price th {
border: 1px solid #ccc;
padding: 10px;
font-size: 18px;
background-color: #dedede;
width: 100px;
}

.price td {
border: 1px solid #ccc;
padding: 10px;
font-size: 18px;
width: 100px;
}
ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}

.confirm li{
    display: inline-block;
    margin-top: 20px;
}
.confirm li h3{
    padding: 0;
    text-indent: 0;
    margin-right: 10px;
}

.enter {
    margin-top: 50px;
    margin-left: 500px;
}
.back {
    margin-top: 50px;
    margin-left: 500px;
}
</style>