<%= form_with(model: @shipping_address, url: shipping_address_path(@shipping_address.id), local: true, method: :PATCH) do |f| %>
	<div class="col-xs-9">
		<h3>配送先編集</h3>
		<table class="table table-hover">
			<tr>
				<th>郵便番号</th>
				<td><%= f.text_field(:postcode, class: "col-sm-3") %></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><%= f.text_field(:address, class: "col-sm-12") %></td>
			</tr>
			<tr>
				<th>宛名</th>
				<td><%= f.text_field(:name, class: "col-sm-4") %></td>
			</tr>
		</table>
	</div>
	<div class="col-xs-1">
		<%= f.submit('登録する', class: "btn btn-primary create-btn") %>
	</div>
	<div class="col-xs-2">
	</div>
<% end %>

<style>
	.create-btn {
		margin-top: 150px;
	}
</style>