<h3> 商品　新規登録画面 </h3>

<% if @product.errors.any? %>
　  <div id="error_explanation">
      <h4>【 入力されていない項目があります。 】</h4>
  　</div>
<% end %>

<div class="container">
    <div class="row">

      <%= form_for(@product, url: '/admin/products') do |f| %>

	    <div class="col-sm-4">
	      <%= f.attachment_field :product_image %>
	      <!-- 画像選択ボタンにbootstrapをかける -->
	      <!-- この上にプレビュー画像を実装する -->
      </div>

      <div class="col-sm-5">

        <div class="product_new_field">
          <span class="new_title">商品名</span>
          <span class="new_content"><%= f.text_field :name %></span>
        </div>

        <div class="product_new_field">
          <span class="new_title">商品説明</span>
      	  <span class="new_content"><%= f.text_area :content %></span>
        </div>

        <div class="product_new_field"><!-- ジャンル名を表示させるためにカテゴリーモデルからデータをひっぱってくる　-->
          <span class="new_title">ジャンル</span>
          <span class="new_content"><%= f.collection_select(:category_id, Category.where(is_active: true), :id, :name, include_blank: "選択して下さい" )%></span>
        </div>


        <div class="product_new_field">
      	 <span class="new_title">税抜価格</span>
      	 <span class="new_content"><%= f.text_field :price %> 円 </span>
        </div>

        <div class="product_new_field">
          <span class="new_title">販売ステータス</span>
      	  <span class="new_content">
            <%= f.select :is_active, [["販売中", true],["売り切れ", false]] , include_blank: "選択して下さい" %>
          </span>
        </div>

      </div>

        <div class="col-sm-3">
          <div class="product_new_action">
  	        <%= f.submit("新規登録", class: "btn btn-primary") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <style>

    h3 {  margin: 0 0 0 10px ; }
    .row { margin: 45px 0 0 30px ; }
    input[type="file"] { display: block; font-size: 15px; margin-top: 50px; }
    .product_new_field { margin: 0 0 20px; font-size: 15px; }
    .new_title {display: inline-block; width: 150px; }
    .new_content {display: inline-block; width: 200px;}
    .btn-primary { position: relative; top: 250px; left: 120px ;}

  </style>

