 <div class="row">
  <%= render('category_form', categories: @categories) %>
  <div class="col-xs-9">
    <h3>
      <% if @category.blank? %>
        商品一覧
      <% else %>
        <%= @category.name %>一覧
      <% end %>
      <% if @products.blank? %>
        /<span style="color: red;">商品がありません</span>
      <% end %>
    </h3>

    <div class="row">
      <% @products.each do |product| %>
        <div class="col-xs-4 product-container">
          <ul class="product-list">
            <li><%= attachment_image_tag(product, :product_image, size:"200x150", format: 'jpeg') %></li>
            <li><%= link_to(product.name, product_path(product.id)) %></li>
            <li><%= "¥" + (product.price * (1 + $tax_rate)).round.to_s %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

  <div>
  <div class="row">
    <div class="col-md-4 col-md-offset-6">
      <%= paginate @products %>
    </div>
  </div>
</div>

<style>
  .product-list {
    list-style: none;
  }
  .product-list li {
    margin-top: 15px;
  }
</style>