<h1>ジャンル検索</h1>
<% @categories.each do |category| %>
<li><%= link_to category.name, products_path(category_id: category.id)  %></li>
<% end %>

<% if @category.blank? %>
	<h1>商品一覧</h1>
<% else %>
	<h1><%= @category.name %></h1>
<% end %>
<table>
  <tbody>
    <% @products.each do |product| %>
      <tr>
  <td><%= attachment_image_tag product, :product_image, size:"160x100", format: 'jpeg' %></td>
      <td><%= product.name %></td>
      <td><%= product.price*1.08 %></td>
    </tr>
     <% end %>
   </tbody>