h1>Products#show</h1>
記入途中、、ジャンル検索で選んだジャンル名がindexに表示できるようにします。
<h1>ジャンル検索</h1>
<% @category.each do |category| %>
<li><%= @category.name %></li>
<% end %>
<tbody>
  <td><%= attachment_image_tag @product, :product_image, size:"200x200", format: 'jpeg' %>
  <%= @product.name %></td>
  <td><%= @product.content %></td>
  <td><%= @product.price*108% %><li>(税込価格)></li></td>

  <%= form_for @cart_item,:url => {controller: "cart_item", action: "create"} do |f| %>
    <td><%= f.number_field :amount %></td>
        <%= f.hidden_field :product_id, value: cart_item_id %>
    <td><% f.submit 'カートに入れる' %></td>
    <% end %>

</tbody>





