
<h1>Products#show</h1>
<!-- 記入途中、、ジャンル検索で選んだジャンル名がindexに表示できるようにします。
<h1>ジャンル検索</h1>
<% @categories.each do |categories| %>
<li><%= @categories.name %></li>
<% end %> -->
<tbody>
	<td><%= attachment_image_tag @product, :product_image, size:"200x200", format: 'jpeg' %>
	<%= @product.name %></td>
	<td><%= @product.content %></td>
	<td><%= @product.price*108% %><li>(税込価格)></li></td>
<!--  分からないので後で記入します -->
    <td>個数選択</td>
    <td><% link to 'カートに入れる', cart_items_path(@product.cart_items.id) %></td>
</tbody>